transition(name='slide-fade')
        .chat(@mouseleave="mouseLeave", @mouseout="mouseOut")
            .head(v-if='showChat')

                avatar.img(:username='chatName', color='#fff', :src='avatar')

                .info

                    p {{ chatName }}

                    p.online(v-if='onlineUsers')
                        span(v-for='onlineUser in onlineUsers') {{ onlineUser.name }}
                            span.state.green &#8226;

                    p.online(v-else) Offline
                        span.state.red &#8226;

            .chat_box(v-if='showChat')

                .chat_content#chat(v-chat-scroll='')
                    messages(:messages='messages', :user='user', :usersTyping="typing")

                .modal(v-if='uploadImage')

                    .container(v-if='!photo')
                        label.upload_photo
                            i.material-icons file_upload
                            input(type='file', name='photo', v-on:change='onFileChange($event)', ref='fileInput')

                    .container(v-else)
                        .preview
                            img(:src='photo')
                            a(v-on:click='photo = null')
                                i.material-icons clear

            send(v-if='showChat', v-on:errorMessages="pushErrorMessage($event)",
                v-on:clearPhoto="hideModal",
                :uploadImageState='uploadImage',
                @showUpload='showImageModal',
                :photo='photo',
                :uploadedPhoto='uploadedPhoto')