@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons);fieldset[disabled] .multiselect{pointer-events:none}.multiselect__spinner{position:absolute;right:1px;top:1px;width:48px;height:35px;background:#fff;display:block}.multiselect__spinner:after,.multiselect__spinner:before{position:absolute;content:"";top:50%;left:50%;margin:-8px 0 0 -8px;width:16px;height:16px;border-radius:100%;border-color:#41b883 transparent transparent;border-style:solid;border-width:2px;-webkit-box-shadow:0 0 0 1px transparent;box-shadow:0 0 0 1px transparent}.multiselect__spinner:before{-webkit-animation:a 2.4s cubic-bezier(.41,.26,.2,.62);animation:a 2.4s cubic-bezier(.41,.26,.2,.62);-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.multiselect__spinner:after{-webkit-animation:a 2.4s cubic-bezier(.51,.09,.21,.8);animation:a 2.4s cubic-bezier(.51,.09,.21,.8);-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.multiselect__loading-enter-active,.multiselect__loading-leave-active{-webkit-transition:opacity .4s ease-in-out;transition:opacity .4s ease-in-out;opacity:1}.multiselect__loading-enter,.multiselect__loading-leave-active{opacity:0}.multiselect,.multiselect__input,.multiselect__single{font-family:inherit;font-size:14px;-ms-touch-action:manipulation;touch-action:manipulation}.multiselect{-webkit-box-sizing:content-box;box-sizing:content-box;display:block;position:relative;width:100%;min-height:40px;text-align:left;color:#35495e}.multiselect *{-webkit-box-sizing:border-box;box-sizing:border-box}.multiselect:focus{outline:none}.multiselect--disabled{opacity:.6}.multiselect--active{z-index:1}.multiselect--active:not(.multiselect--above) .multiselect__current,.multiselect--active:not(.multiselect--above) .multiselect__input,.multiselect--active:not(.multiselect--above) .multiselect__tags{border-bottom-left-radius:0;border-bottom-right-radius:0}.multiselect--active .multiselect__select{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.multiselect--above.multiselect--active .multiselect__current,.multiselect--above.multiselect--active .multiselect__input,.multiselect--above.multiselect--active .multiselect__tags{border-top-left-radius:0;border-top-right-radius:0}.multiselect__input,.multiselect__single{position:relative;display:inline-block;min-height:20px;line-height:20px;border:none;border-radius:5px;background:#fff;padding:0 0 0 5px;width:100%;-webkit-transition:border .1s ease;transition:border .1s ease;-webkit-box-sizing:border-box;box-sizing:border-box;margin-bottom:8px;vertical-align:top}.multiselect__tag~.multiselect__input,.multiselect__tag~.multiselect__single{width:auto}.multiselect__input:hover,.multiselect__single:hover{border-color:#cfcfcf}.multiselect__input:focus,.multiselect__single:focus{border-color:#a8a8a8;outline:none}.multiselect__single{padding-left:6px;margin-bottom:8px}.multiselect__tags-wrap{display:inline}.multiselect__tags{min-height:40px;display:block;padding:8px 40px 0 8px;border-radius:5px;border:1px solid #e8e8e8;background:#fff}.multiselect__tag{position:relative;display:inline-block;padding:4px 26px 4px 10px;border-radius:5px;margin-right:10px;color:#fff;line-height:1;background:#41b883;margin-bottom:5px;white-space:nowrap;overflow:hidden;max-width:100%;text-overflow:ellipsis}.multiselect__tag-icon{cursor:pointer;margin-left:7px;position:absolute;right:0;top:0;bottom:0;font-weight:700;font-style:normal;width:22px;text-align:center;line-height:22px;-webkit-transition:all .2s ease;transition:all .2s ease;border-radius:5px}.multiselect__tag-icon:after{content:"\D7";color:#266d4d;font-size:14px}.multiselect__tag-icon:focus,.multiselect__tag-icon:hover{background:#369a6e}.multiselect__tag-icon:focus:after,.multiselect__tag-icon:hover:after{color:#fff}.multiselect__current{min-height:40px;overflow:hidden;padding:8px 12px 0;padding-right:30px;white-space:nowrap;border-radius:5px;border:1px solid #e8e8e8}.multiselect__current,.multiselect__select{line-height:16px;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;margin:0;text-decoration:none;cursor:pointer}.multiselect__select{position:absolute;width:40px;height:38px;right:1px;top:1px;padding:4px 8px;text-align:center;-webkit-transition:-webkit-transform .2s ease;transition:-webkit-transform .2s ease;transition:transform .2s ease;transition:transform .2s ease, -webkit-transform .2s ease}.multiselect__select:before{position:relative;right:0;top:65%;color:#999;margin-top:4px;border-style:solid;border-width:5px 5px 0;border-color:#999 transparent transparent;content:""}.multiselect__placeholder{color:#adadad;display:inline-block;margin-bottom:10px;padding-top:2px}.multiselect--active .multiselect__placeholder{display:none}.multiselect__content-wrapper{position:absolute;display:block;background:#fff;width:100%;max-height:240px;overflow:auto;border:1px solid #e8e8e8;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;z-index:1;-webkit-overflow-scrolling:touch}.multiselect__content{list-style:none;display:inline-block;padding:0;margin:0;min-width:100%;vertical-align:top}.multiselect--above .multiselect__content-wrapper{bottom:100%;border-bottom-left-radius:0;border-bottom-right-radius:0;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom:none;border-top:1px solid #e8e8e8}.multiselect__content::webkit-scrollbar{display:none}.multiselect__element{display:block}.multiselect__option{display:block;padding:12px;min-height:40px;line-height:16px;text-decoration:none;text-transform:none;vertical-align:middle;position:relative;cursor:pointer;white-space:nowrap}.multiselect__option:after{top:0;right:0;position:absolute;line-height:40px;padding-right:12px;padding-left:20px}.multiselect__option--highlight{background:#41b883;outline:none;color:#fff}.multiselect__option--highlight:after{content:attr(data-select);background:#41b883;color:#fff}.multiselect__option--selected{background:#f3f3f3;color:#35495e;font-weight:700}.multiselect__option--selected:after{content:attr(data-selected);color:silver}.multiselect__option--selected.multiselect__option--highlight{background:#ff6a6a;color:#fff}.multiselect__option--selected.multiselect__option--highlight:after{background:#ff6a6a;content:attr(data-deselect);color:#fff}.multiselect--disabled{background:#ededed;pointer-events:none}.multiselect--disabled .multiselect__current,.multiselect--disabled .multiselect__select,.multiselect__option--disabled{background:#ededed;color:#a6a6a6}.multiselect__option--disabled{cursor:text;pointer-events:none}.multiselect__option--disabled.multiselect__option--highlight{background:#dedede!important}.multiselect-enter-active,.multiselect-leave-active{-webkit-transition:all .15s ease;transition:all .15s ease}.multiselect-enter,.multiselect-leave-active{opacity:0}.multiselect__strong{margin-bottom:8px;line-height:20px;display:inline-block;vertical-align:top}[dir=rtl] .multiselect{text-align:right}[dir=rtl] .multiselect__select{right:auto;left:1px}[dir=rtl] .multiselect__tags{padding:8px 8px 0 40px}[dir=rtl] .multiselect__content{text-align:right}[dir=rtl] .multiselect__option:after{right:auto;left:0}[dir=rtl] .multiselect__clear{right:auto;left:12px}[dir=rtl] .multiselect__spinner{right:auto;left:1px}@-webkit-keyframes a{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(2turn);transform:rotate(2turn)}}@keyframes a{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(2turn);transform:rotate(2turn)}}* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background: #dbdbdb;
  overflow: hidden;
}

i {
  margin: auto;
}

/* ------ fonts ------ */

.font-name {
  color: #000000;
  font-size: 1em;
  font-weight: inherit;
  padding-bottom: 3px;
}

.font-preview {
  color: #444444;
  font-size: 0.9em;
  font-weight: inherit;
}

.font-online {
  color: #777777;
  font-size: 0.8em;
  font-weight: inherit;
}

/* layouts */

.green-background {
  background: #009688;
  height: 130px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -100;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-width: 600px;
  max-width: 90%;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px #7E7E7E;
          box-shadow: 0 2px 4px #7E7E7E;
}

.left {
  width: 420px;
  min-width: 420px;
  height: 100%;
  background-color: #fafafa;
}

/* Menu */

.menu {
  width: 100%;
  height: 60px;
  background: #eeeeee;
  border-radius: 3px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .avatar {
  margin: 5px 20px;
}

.menu .name {
  color: #777777;
}

.menu .icons i {
  color: #aaaaaa;
  margin: 0 15px;
}

.menu .icons i:hover {
  color: #009688;
  cursor: pointer;
}

.menu .icons .error {
  color: #E57373;
}

.menu .router-link-active i {
  color: #009688;
}

.menu .notifications {
  position: relative;
}

.menu .notifications[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -18px;
  right: 8px;
  font-size: 12px;
  background: white;
  color: #009688;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px #fff;
          box-shadow: 0 0 1px #fff;
  font-weight: bold;
  line-height: 22px;
}

/* Search */

.search-container {
  width: 100%;
  height: 55px;
  background: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-container .search {
  width: 90%;
  height: 30px;
  margin: auto;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-container .search i {
  color: #aaaaaa;
  margin: 4px 5px 0 5px;
}

.search-container .search input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.search-container .search input:focus {
  outline: none;
}

/* Filter */

.filter {
  width: 100%;
  height: 40px;
  background: #f1f1f1;
}

.filter button {
  width: 50%;
  height: 100%;
  color: #777777;
}

.filter button:hover {
  -webkit-box-shadow: 0px -1px 0px 0px #bababa;
          box-shadow: 0px -1px 0px 0px #bababa;
}

.filter .active {
  font-weight: bold;
  color: #009688;
  -webkit-box-shadow: 0px -1px 0px 0px #bababa;
          box-shadow: 0px -1px 0px 0px #bababa;
}

/* Contacts */

.contact-list {
  background-color: #ffffff;
  width: 100%;
  height: calc(100% - 155px);
  border-radius: 0 0 0 3px;
  overflow-y: auto;
}

.contact {
  height: 70px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact:hover {
  background-color: #f5f5f5;
}

.contact .preview {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

.contact a {
  text-decoration: none;
  color: #2a2a2a;
}

.contact .text {
  margin-top: 20px;
}

.contact h5 {
  font-size: 16px;
  font-weight: inherit;
}

.contact h6 {
  font-weight: inherit;
  font-size: 14px;
  margin-top: 5px;
}

.contact .avatar {
  margin: 12px 20px;
}

.contact .photo {
  margin-right: 5px;
  color: #eeeeee;
  font-size: 15px;
}

.contact .time {
  margin: 30px 10px;
}

.contact .time p {
  color: #74787E;
  font-size: 12px;
}

.contact .time i {
  color: #009688;
  font-size: 25px;
}

.contact .middle {
  margin: 30px auto;
  color: #aaaaaa;
}

.contact .active_chat {
  color: #009688;
  padding-left: 15px;
}

.contact .active_message {
  padding-left: 15px;
  color: #444444;
}

.contact .active_image {
  -webkit-box-shadow: 6px 0px 16px -13px #777777;
          box-shadow: 6px 0px 16px -13px #777777;
}

/* Notifications */

.notifications .mark {
  line-height: 40px;
  width: 100%;
  background-color: #fbfbfb;
  border: solid 1px #EEEEEE;
  color: #777777;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.notifications .mark:hover {
  font-weight: bold;
  background-color: #fbfbfb;
}

.notifications .new_notification {
  background-color: #FBFCFC;
}

.notifications .green_teal {
  color: #009688;
}

/* Right ---------------------------------------------------------------------- */

.right {
  min-width: calc(100% - 420px);
  height: 100%;
  background-color: #ECE5DD;
}

/* Welcome ---------------------------------------------------------------------- */

.welcome {
  padding: 10px;
  background-color: #f7f9fa;
  height: calc(98vh - 50px);
  border-bottom: 5px solid #25D366;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome p {
  color: #a8a8a8;
}

/* Header ---------------------------------------------------------------------- */

.head {
  background-color: #eeeeee;
  width: 100%;
  height: 60px;
  border-left: 0px solid #aaaaaa;
  -webkit-box-shadow: -1px 0px 2px 0px #aaaaaa;
          box-shadow: -1px 0px 2px 0px #aaaaaa;
  border-radius: 0 3px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head .img {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  margin: 5px 20px;
  border-radius: 50%;
}

.head .info {
  width: 100%;
  margin: 10px;
}

.head .online {
  color: #777777;
  font-size: 0.8em;
  font-weight: inherit;
}

.head .online .state {
  margin: 0 7px;
  font-weight: bold;
  font-size: 20px;
}

.head .online .green {
  color: #009688;
}

.head .online .red {
  color: #E57373;
}

/* Chat ---------------------------------------------------------------------- */

.chat_box {
  height: calc(98vh - 145px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.chat_box .chat_content {
  width: 100%;
  background-color: #ECE5DD;
  padding: 10px 100px;
  overflow-y: auto;
}

/* Modal ---------------------------------------------------------------------- */

.modal {
  background-color: rgba(225, 225, 225, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .container {
  background-color: #fbfbfb;
  border: 0px solid #ffffff;
  width: 70%;
  height: 80%;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px #7E7E7E;
          box-shadow: 0 2px 4px #7E7E7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .preview {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.modal a {
  background-color: #FFFFFF;
  height: 30px;
  width: 30px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 10px;
}

.modal i {
  color: #009688;
  font-size: 30px;
}

.modal i:hover {
  color: #E57373;
}

/* Upload photo ---------------------------------------------------------------------- */

.upload_photo {
  overflow: hidden;
  position: relative;
}

.upload_photo [type=file] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.upload_photo i {
  color: #f1f1f1;
  font-size: 100px;
}

/* Send Message ---------------------------------------------------------------------- */

.send {
  width: 100%;
  height: 60px;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send .message {
  width: 100%;
  height: 45px;
  background: #ffffff;
  margin: auto;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.send input {
  width: 100%;
  margin: 0 10px;
  border: none;
}

.send input:focus {
  outline: none;
}

.send i {
  color: #aaaaaa;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.send .green {
  color: #009688;
}

/* Bubble ---------------------------------------------------------------------- */

.bubble .line {
  border-radius: 7px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  padding: 5px 7px;
  max-width: 350px;
  height: auto;
  position: relative;
}

.bubble .friend {
  background: #ffffff;
  margin: 0 0 10px 0;
}

.bubble .friend_mouth {
  width: 0;
  height: 0;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: 10px;
  left: -10px;
}

.bubble .friend_img {
  width: 50px;
  height: 50px;
  margin: 5px 20px;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  left: -95px;
}

.bubble .user {
  background: #dcf8c6;
  margin: 0 0 10px auto;
}

.bubble .user_mouth {
  width: 0;
  height: 0;
  border-bottom: 10px solid #dcf8c6;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: 10px;
  left: 100%;
}

.bubble .user_img {
  width: 50px;
  height: 50px;
  margin: 5px 20px;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  left: 10px;
}

.bubble .content {
  margin: 10px;
  max-width: 100%;
  height: auto;
  font-size: 0.9em;
}

.bubble .content p {
  max-width: 350px;
  margin-bottom: 15px;
  overflow: hidden;
}

.bubble .content img {
  width: 100%;
  max-height: 350px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bubble .time {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.6em;
  text-align: right;
  margin-top: -10px;
}

.bubble .error {
  color: #E57373;
}

.bubble .typing {
  border-radius: 7px;
  padding: 5px 7px;
  width: 50px;
  max-width: 50px;
  position: relative;
  background-color: transparent;
}

.bubble .typing_mouth {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: 10px;
  left: -10px;
}

.bubble .typing_content {
  margin-top: 20px;
  font-size: 0.9em;
}

.bubble .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 3px;
  background: #ffffff;
  -webkit-animation: wave 1.3s linear infinite;
          animation: wave 1.3s linear infinite;
}

.bubble .dot:nth-child(2) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.bubble .dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

@-webkit-keyframes wave {
  0%, 60%, 100% {
    -webkit-transform: initial;
            transform: initial;
  }

  30% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes wave {
  0%, 60%, 100% {
    -webkit-transform: initial;
            transform: initial;
  }

  30% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

/* Groups ---------------------------------------------------------------------- */

.head h1 i {
  border-radius: 50%;
  font-size: 40px;
  margin: 10px 20px;
  color: #777777;
}

.groups_box {
  height: calc(98vh - 85px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.groups_box .content {
  width: 100%;
  height: 100%;
  background-color: #ECE5DD;
  overflow-y: auto;
}

.groups_box .groups {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.groups_box .group {
  width: 50%;
  height: 100%;
}

.groups_box .group a {
  width: 100%;
  height: 100%;
  color: #777777;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.groups_box .group a:hover {
  color: #009688;
  background-color: #f3f3f3;
}

/* Table ----------------------------------------------------------------------  */

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  -webkit-box-shadow: 0 0 2px 0 rgba(119, 119, 119, 0.5);
          box-shadow: 0 0 2px 0 rgba(119, 119, 119, 0.5);
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

tr:nth-of-type(odd) {
  background: #fbfbfb;
}

th {
  background: #f1f1f1;
  color: #777777;
  font-size: 0.8em;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #777777;
  font-size: 0.9em;
  font-weight: inherit;
}

.group_avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

button i:hover {
  color: #777777;
}

.green_teal {
  color: #009688;
}

.cool_red {
  color: #E57373;
}

h4 {
  margin: 20px 0;
  color: #777777;
}

hr {
  border: 0;
  height: 2px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

.format_button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  display: none;
}

/* Profile */

.widget {
  position: relative;
  background: #fbfbfb;
  width: 70%;
  height: 100%;
}

.widget_100 {
  width: 100%;
  background-color: #fbfbfb;
}

.cover {
  height: 300px;
  width: 100%;
  position: relative;
}

.cover img {
  width: 100%;
  height: 100%;
}

.style_friend {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 0px 26px -5px white;
          box-shadow: 0px 0px 26px -5px white;
}

.style_friend:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.add_friend {
  position: absolute;
  top: 15px;
  left: 22px;
}

.delete_friend {
  position: absolute;
  top: 70px;
  left: 22px;
}

.cover i {
  color: #ffffff;
  font-size: 25px;
  padding-top: 5px;
}

.cover i:hover {
  color: #f5f5f5;
}

.widget > .photo {
  position: absolute;
  top: 225px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #FFF;
  border-radius: 50%;
}

.widget > h1,
.widget > h2,
.widget > h3 {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}

.widget > h1 {
  margin: 60px 0 20px;
  font-size: 26px;
  color: #000;
}

.widget > h3 {
  font-size: 12px;
}

/* List users */

.manage_users {
  position: relative;
  background-color: #ffffff;
  width: 30%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}

/* Information */

.edit_user {
  position: relative;
  background: #ffffff;
  width: 100%;
  height: 100%;
}

.edit_user h1 {
  color: #009688;
  font-size: 14px;
  margin: 20px 0;
}

.edit-input {
  width: 100%;
}

.edit-input > input {
  width: 100%;
  margin: auto;
  height: 60px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #EEEEEE;
  outline: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.edit-input > input:hover {
  border-bottom: 2px solid #009688;
}

.edit_i {
  font-size: 25px !important;
}

.edit_i:hover {
  color: #e1e1e1;
}

.select_image {
  color: transparent;
  color: #777777;
}

.save {
  line-height: 30px;
  width: 100%;
  background-color: transparent;
  border: solid 2px #EEEEEE;
  color: #777777;
  margin-top: 25px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.save:hover {
  border: solid 2px #EEEEEE;
  font-weight: bold;
}

/* Information */

.information {
  width: 100%;
  background: #f7f7f7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information_content {
  background-color: #fafafa;
  max-width: 100%;
  height: 100%;
}

.information_form {
  padding: 20px;
}

/* Vue effects ---------------------------------------------------------------------- */

.slide-fade-enter-active {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  opacity: 0;
}

body::-webkit-scrollbar,
.contact-list::-webkit-scrollbar,
.complete_dynamic_content::-webkit-scrollbar,
.manage_users::-webkit-scrollbar,
.chat_content::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

body::-webkit-scrollbar-thumb,
.contact-list::-webkit-scrollbar-thumb,
.complete_dynamic_content::-webkit-scrollbar-thumb,
.manage_users::-webkit-scrollbar-thumb,
.chat_content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.contact-list,
.chat_content,
.complete_dynamic_content,
.manage_users {
  scrollbar-arrow-color: #009688;
  scrollbar-face-color: #eeeeee;
  scrollbar-highlight-color: #eeeeee;
  scrollbar-shadow-color: #dddddd;
}

@media (min-width: 1200px) {
  .wrap {
    margin-bottom: 2vh;
    margin-top: 25px;
    height: calc(98vh - 25px);
    width: 90%;
  }
}

@media (max-width: 800px) {
  .wrap {
    width: 100%;
    min-width: 100%;
    height: 100vh;
  }

  .left {
    width: 100%;
    display: none;
  }

  .right {
    width: 100%;
  }

  .me_img,
  .you_img {
    display: none;
  }

  .dynamic_content {
    padding: 20px;
  }
}

