
.left {
    width: 400px;
    min-width: 400px;
    height: 100%;
    background-color: #fafafa;
}

/* Menu -------------------------------------------------------- */

.menu {
    width: 100%;
    height: 60px;
    background: #eeeeee;
    border-radius: 3px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .avatar {
        margin: 5px 20px;
    }
    .name {
        color: #777777;
    }
    .icons {
        i {
            color: #aaaaaa;
            margin: 0 15px;
            &:hover {
                color: #009688;
                cursor: pointer;
            }
        }
    }
    .router-link-active {
        box-shadow: 0px 1px 0px 0px rgba(186, 186, 186, 1);
    }
    .error {
        color: #E57373;
    }
    .notifications {
        position: relative;
        &[data-badge]:after {
            content: attr(data-badge);
            position: absolute;
            top: -18px;
            right: 8px;
            font-size: 12px;
            background: white;
            color: #009688;
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 50%;
            box-shadow: 0 0 1px #fff;
            font-weight: bold;
            line-height: 22px;
        }
    }
}

/* Notifications ---------------------------------------------------------------- */

.notifications {
    .mark {
        line-height: 40px;
        width: 100%;
        background-color: #fbfbfb;
        border: solid 1px #EEEEEE;
        color: #777777;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        &:hover {
            font-weight: bold;
            background-color: #fbfbfb;
        }
    }
    .new_notification {
        background-color: #FBFCFC;
    }
    .green_teal {
        color: #009688;
    }
}

/* Search ---------------------------------------------------------------- */

.search-container {
    width: 100%;
    height: 55px;
    background: #fbfbfb;
    display: flex;
    .search {
        width: 90%;
        height: 30px;
        margin: auto;
        border: 1px solid #f1f1f1;
        border-radius: 5px;
        display: flex;
        i {
            color: #aaaaaa;
            margin: 4px 5px 0 5px;
        }
        input {
            width: 100%;
            border: none;
            border-radius: 5px;
            padding-left: 10px;
            &:focus {
                outline: none;
            }
        }
    }
}

/* filter ----------------------------------------------------- */

.filter {
    width: 100%;
    height: 40px;
    background: #f1f1f1;
    button {
        width: 50%;
        height: 100%;
        color: #777777;
        &:hover {
            box-shadow: 0px -1px 0px 0px rgba(186, 186, 186, 1);
        }
    }
    .active {
        font-weight: bold;
        color: #009688;
        box-shadow: 0px -1px 0px 0px rgba(186, 186, 186, 1);
    }
}

/* contact list  ------------------------------------------------------- ----*/

.contact-list {
    background-color: #ffffff;
    width: 100%;
    height: calc(100% - 155px);
    border-radius: 0 0 0 3px;
    overflow-y: auto;
}

.contact {
    height: 70px;
    background-color: #ffffff;
    display: flex;
}

.contact img {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin: 10px 20px ;
    border-radius: 50%;
}

.contact:hover {
    background-color: #f5f5f5;
}

.contact-preview {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    overflow: hidden;
}

.contact-text {
    height: 40px;
    margin: auto 0;
    overflow: hidden;
}

.contact-time {
    width: 55px;
    color: rgba(0,0,0,0.4);
    font-size: 0.8em;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 0px solid #eeeeee;
}

.contact-list a {
    text-decoration: none;
    color: #2a2a2a;
}
.contact-list .active_chat {
    color: #009688;
    padding-left: 15px;
}
.contact-list .active_message {
    padding-left: 15px;
    color: #444444;
}
.active_image {
    box-shadow: 6px 0px 16px -13px rgba(119,119,119,1);
}
.chat_avatar {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin: 12px 20px;
    border-radius: 50%;
}
.photo {
    margin-right: 5px;
    color: #eeeeee;
    font-size: 15px;
}
.contact-list .time {
    margin-left: 5px;
    color: #009688;
    font-size: 25px;
}

.middle {
    margin: auto;
    color: #aaaaaa;
}

