
@media (max-width: 800px) {
	.navigate {
		position: absolute;
		right: 50px;
		display: block;
		i {
			margin-top: 15px;
			color: #777777;
			text-decoration: none;
		}
	}
	.left {
		display: none;
	}
	.right {
		width: 100%;
	}
}


