.right {
		min-width: calc(100% - 400px);
        height: 100%;
        background-color: #ECE5DD;
}

/* chat head */

.chat-head {
    background-color: #eeeeee;
    width: 100%;
    height: 60px;
		border-left: 0px solid #aaaaaa;
		box-shadow: -1px 0px 2px 0px rgba(170,170,170,1);
    border-radius: 0 3px 0 0;
    display: flex;
}

.img-head {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin: 5px 20px;
    border-radius: 50%;
}

.chat-head i {
    color: #aaaaaa;
    width: 60px;
    margin: 20px;
    text-align: center;
}

.chat-name {
    width: 100%;
    margin: 10px;
}

/* chat */

.complet-content {
    height: calc(100% - 60px);
    display: flex;
    position: relative;
    background-color: #f7f7f7;
}

.wrap-content {
    height: calc(100% - 120px);
    display: flex;
    position: relative;
}

.dynamic_content {
    width: 100%;
    padding: 10px 100px;
    overflow-y: auto;
}

.complete_dynamic_content {
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

.chat {
    background-color: #ECE5DD;
}

/* Upload foto */

.upload_foto {
	background-color: rgba(225, 225, 225, .8);
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container_foto {
	background-color: #fbfbfb;
	border: 0px solid #ffffff;
	width: 70%;
	height: 80%;
	border-radius: 2px;
	box-shadow: 0 2px 4px #7E7E7E;
	display: flex;
	align-items: center;
	justify-content: center;
}

.preview-image {
    width: 100%;
    height: 100%;
    display: flex;
}

.container_foto img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.container_foto a {
    background-color: #f9f9f9;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
}

.container_foto i {
    color: #009688;
    font-size: 30px;
}

.container_foto i:hover {
    color: #E57373;
}

/* input file */

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer i {
    color: #f1f1f1;
    font-size: 100px;
}

/* bubble */

.chat-bubble {
    border-radius: 7px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    padding: 5px 7px;
    width: 350px;
    max-width: 100%;
    position: relative;
}

.you {
    background: #ffffff;
    margin: 0px auto 10px 0px;
}

.your-mouth {
    width: 0;
    height: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: 10px;
    left: -10px;
}

.you_img {
	  width: 50px;
	  height: 50px;
	  margin: 5px 20px;
	  border-radius: 50%;
	  position: absolute;
	  bottom: -30px;
	  left: -100px;
}

.me {
    background: #dcf8c6;
    margin: 0px 0px 10px auto;
}

.errorchat {
    color: #E57373;
}

.my-mouth {
    width: 0;
    height: 0;
    border-bottom: 10px solid #dcf8c6;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 10px;
    left: 100%;
}

.me_img {
  width: 50px;
  height: 50px;
  margin: 5px 20px;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  left: 10px;
}

.content {
    margin: 0.5em 0;
    line-height: 120%;
    font-size: 0.9em;
}

.content img {
    width: 100%;
    max-height: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.time {
    color: rgba(0,0,0,0.4);
    font-size: 0.6em;
    text-align: right;
    margin-top: -10px;
}

/* message */

.wrap-message {
    width: 100%;
    height: 60px;
    background: #f1f1f1;
    border-radius: 0 0 3px 0;
    display: flex;
}

.message {
    width: 100%;
    height: 45px;
    background: #ffffff;
    margin: auto;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: flex;
}

.input-message {
    width: 100%;
    margin: 0px 10px;
    border: none;
}

.input-message:focus {
    outline: none;
}

.wrap-message i {
    color: #aaaaaa;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* table */

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    box-shadow: 0px 0px 2px 0px rgba(119,119,119, .5);
    transition: all 2s ease-out;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #fbfbfb;
}

th {
    background: #f1f1f1;
    color: #777777;
    font-size: 0.8em;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #777777;
    font-size: 0.9em;
    font-weight: inherit;
}
.group_avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
button i:hover{
    color: #777777;
}
.green_teal {
    color: #009688;
}
.cool_red {
    color: #E57373;
}
h4 {
    margin: 20px 0;
    color: #777777;
}
hr {
    border: 0;
    height: 2px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,.3);
    margin: 20px 0;
}
.format_button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}


button:disabled,
button[disabled]{
    display: none;
}


/* Profile */

.widget
{
    position: relative;
    background: #ffffff;
    width: 70%;
    height: 100%;
}

.cover
{
    height: 300px;
    width: 100%;
    position: relative;
}

.cover  img {
    width: 100%;
    height: 100%;
}

.style_friend {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 26px -5px rgba(255,255,255,1);
}

.style_friend:hover {
    background-color: rgba(0, 0, 0, .4);
}

.add_friend {
    position: absolute;
    top: 15px;
    left: 22px;
}

.delete_friend {
    position: absolute;
    top: 70px;
    left: 22px;
}

.cover i {
    color: #ffffff;
    font-size: 25px;
    padding-top: 5px;
}

.cover i:hover {
    color: #f5f5f5;
}

.widget > .photo
{
    position: absolute;
    top: 225px;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: 0 0 0 -55px;
    border: 5px solid #FFF;
    border-radius: 50%;
}

.widget > h1, .widget > h2, .widget > h3
{
    display: block;
    margin: 10px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #999;
}

.widget > h1
{
    margin: 60px 0 20px;
    font-size: 26px;
    color: #000;
}

.widget > h3 { font-size: 12px }


/* List users */


.manage_users {
    position: relative;
    background-color: #fafafa;
    width: 30%;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

/* Information */

.edit_user {
    position: relative;
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.edit_user h1 {
    color: #009688;
    font-size: 14px;
    margin: 20px 0;
}

.edit-input {
    width: 100%;
}

.edit-input > input {
    width: 100%;
    margin: auto;
    height: 60px;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #EEEEEE;
    outline: none;
    transition: all .3s ease-out;
}

.edit-input > input:hover {
    border-bottom: 2px solid #009688;
}

.edit_i{
    font-size: 25px !important;
}

.edit_i:hover{
    color: #e1e1e1;
}

.select_image  {
    color: transparent;
    color: #777777;
}


.save {
    line-height: 30px;
    width: 100%;
    background-color: transparent;
    border: solid 2px #EEEEEE;
    color: #777777;
    margin-top: 25px;
    transition: all .3s ease-out;
}

.save:hover {
    border: solid 2px #EEEEEE;
    font-weight: bold;
}

/* Information */

.information {
    width: 100%;
    background: #f7f7f7;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information_content {
    background-color: #fafafa;
    max-width: 100%;
    height: 100%;
}

.information_form {
    padding: 20px;
}
